<div style="text-align: center;">
  <h1 *ngIf="count > 2">
    <span style="color: blue;">My name is {{ title | uppercase}} !</span>
  </h1>

  <h1 *ngIf="count <= 2">
    Increase counter
  </h1>

  <h2 [ngStyle]="{ 'background-color': myColor }">{{ count }}</h2>

  <input type="text" [(ngModel)]="title" />
  <button (click)="btnClicked()">Click me</button>
  <button (click)="btnClicked2()">Zerar</button>

  <div *ngFor="let person of people">
    <h3 [ngClass]="{ red: person.age> 21 }">
      {{ person.name }} tem {{ person.age }}
    </h3>
  </div>

  <h3>{{today | date:"short"}}</h3>
  <nav>
    <a routerLink="first">First</a><br>
    <a routerLink="sec">Second</a>
  </nav>
</div>

<router-outlet></router-outlet>